flake.lock linguist-generated=true
src/lib/migration/migrations/*.sql linguist-detectable linguist-language=sql
src/lib/migration/migrations/20250101000002_import_substance.sql binary linguist-vendored
docs/*.md linguist-detectable