flake.lock linguist-generated=true
src/lib/migration/sql/*.sql linguist-detectable linguist-language=sql
src/lib/migration/sql/2_add_substance_data.sql binary linguist-vendored
docs/*.md linguist-detectable